##Create a program that:
Asking for input from users:

1. Student name

2. NIM students

3. Test scores (in numbers, 0â€“100)

4. Check and display the data type of each input.

5. Use if-elif-else to define a value category, with the following criteria:
   
```
Nilai | Kategori
85 - 100 | A (Sangat Baik)
75 - 84 | B (Baik)
60 - 74 | C (Cukup)
40 - 59 | D (Kurang)
< 40 | E (Sangat Kurang)
```

```
==== Ekspektasi Output Jawaban : =====
Masukkan nama mahasiswa: Sarah
Masukkan NIM: 12345678
Masukkan nilai ujian (0-100): 81

Nama: Sarah (type: <class 'str'>)
NIM: 12345678 (type: <class 'str'>)
Nilai: 81 (type: <class 'int'>)

Hasil Evaluasi:
Mahasiswa: Sarah (NIM: 12345678)
Nilai Ujian: 81
Kategori Nilai: B (Baik)
```

In [ ]:
# Data Mahasiswa
nama1 = "ganesha"
nim1 = "12010123120033"
nilai1 = 90

nama2 = "annisa"
nim2 = "12010123120034"
nilai2 = 88

nama3 = "faris"
nim3 = "12010123120035"
nilai3 = 75

nama4 = "farhan"
nim4 = "12010123120036"
nilai4 = 60

nama5 = "abdil"
nim5 = "12010123120037"
nilai5 = 30

# Proses dan Output
for nama, nim, nilai in [(nama1, nim1, nilai1), (nama2, nim2, nilai2), (nama3, nim3, nilai3), (nama4, nim4, nilai4), (nama5, nim5, nilai5)]:
    print(f"\nMasukkan nama mahasiswa: {nama}")
    print(f"Masukkan NIM: {nim}")
    print(f"Masukkan nilai ujian (0-100): {nilai}")

Masukkan nama mahasiswa: ganesha
Masukkan NIM: 12010123120033
Masukkan nilai ujian (0-100): 90

Masukkan nama mahasiswa: annisa
Masukkan NIM: 12010123120034
Masukkan nilai ujian (0-100): 88

Masukkan nama mahasiswa: faris
Masukkan NIM: 12010123120035
Masukkan nilai ujian (0-100): 75

Masukkan nama mahasiswa: farhan
Masukkan NIM: 12010123120036
Masukkan nilai ujian (0-100): 60

Masukkan nama mahasiswa: abdil
Masukkan NIM: 12010123120037
Masukkan nilai ujian (0-100): 30

In [ ]:
# Data mahasiswa
nama1 = "ganesha"
nim1 = "12010123120033"
nilai1 = 90

nama2 = "annisa"
nim2 = "12010123120034"
nilai2 = 88

nama3 = "faris"
nim3 = "12010123120035"
nilai3 = 75

nama4 = "farhan"
nim4 = "12010123120036"
nilai4 = 60

nama5 = "abdil"
nim5 = "12010123120037"
nilai5 = 30

# Proses dan output
for nama, nim, nilai in [(nama1, nim1, nilai1), (nama2, nim2, nilai2), (nama3, nim3, nilai3), (nama4, nim4, nilai4), (nama5, nim5, nilai5)]:
    print(f"\nNama: {nama} (type: {type(nama)})")
    print(f"NIM: {nim} (type: {type(nim)})")
    print(f"Nilai: {nilai} (type: {type(nilai)})")

Nama: ganesha (type: <class 'str'>)
NIM: 12010123120033 (type: <class 'str'>)
Nilai: 90 (type: <class 'int'>)

Nama: annisa (type: <class 'str'>)
NIM: 12010123120034 (type: <class 'str'>)
Nilai: 88 (type: <class 'int'>)

Nama: faris (type: <class 'str'>)
NIM: 12010123120035 (type: <class 'str'>)
Nilai: 75 (type: <class 'int'>)

Nama: farhan (type: <class 'str'>)
NIM: 12010123120036 (type: <class 'str'>)
Nilai: 60 (type: <class 'int'>)

Nama: abdil (type: <class 'str'>)
NIM: 12010123120037 (type: <class 'str'>)
Nilai: 30 (type: <class 'int'>)

In [ ]:
# Data mahasiswa
nama1 = "ganesha"
nim1 = "12010123120033"
nilai1 = 90

nama2 = "annisa"
nim2 = "12010123120034"
nilai2 = 88

nama3 = "faris"
nim3 = "12010123120035"
nilai3 = 75

nama4 = "farhan"
nim4 = "12010123120036"
nilai4 = 60

nama5 = "abdil"
nim5 = "12010123120037"
nilai5 = 30

# Cek Kategori Nilai
def cek_kategori(nilai):
    if 85 <= nilai <= 100:
        return "A (Sangat Baik)"
    elif 75 <= nilai <= 84:
        return "B (Baik)"
    elif 60 <= nilai <= 74:
        return "C (Cukup)"
    elif 40 <= nilai <= 59:
        return "D (Kurang)"
    else:
        return "E (Sangat Kurang)"

# Proses dan output
for nama, nim, nilai in [(nama1, nim1, nilai1), (nama2, nim2, nilai2), (nama3, nim3, nilai3), (nama4, nim4, nilai4), (nama5, nim5, nilai5)]:
    print(f"\nNama: {nama}")
    print(f"NIM: {nim}")
    print(f"Nilai: {nilai}")
    print(f"Kategori Nilai: {cek_kategori(nilai)}")

Nama: ganesha
NIM: 12010123120033
Nilai: 90
Kategori Nilai: A (Sangat Baik)

Nama: annisa
NIM: 12010123120034
Nilai: 88
Kategori Nilai: A (Sangat Baik)

Nama: faris
NIM: 12010123120035
Nilai: 75
Kategori Nilai: B (Baik)

Nama: farhan
NIM: 12010123120036
Nilai: 60
Kategori Nilai: C (Cukup)

Nama: abdil
NIM: 12010123120037
Nilai: 30
Kategori Nilai: E (Sangat Kurang)