# Input - Output
Inputs and outputs are close to the discussion of variables

## Variables

Variables are containers for storing data values.

## Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

# Heading 1
Python adalah bahasa pemrograman yang menyenangkan untuk dipelajari. Bahasa pemrograman python untuk data scientist berguna memproses :
1. Data visualisasi
2. Data cleaning
3. Modelling Machine Learning

- Modelling Machine Learning
- Data cleaning
- Data visualisasi

## Heading 2
### Heading 3
#### Heading 4
##### Heading 5

In [ ]:
# print value
print('temen-temen DS belajar python')

temen-temen DS belajar python

In [ ]:
x = 5
y = "Bootcamp Data Scientist"


# x and y are variable

print(x) # print output value x
print(y) # print output value y

5
Bootcamp Data Scientist

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4     # x is of type int
x = "Sally" # x is now of type str
x = 3.8
print(x)

3.8

In [ ]:
x = 4     # x is of type int
print(x)
x = "Sally" # x is now of type str
print(x)

4
Sally

## Casting

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
x

'3'

In [ ]:
y

3

## Get the Type

You can get the data type of a variable with the type() function.

In [ ]:
# assign x and y with check value type
x = 5
y = "John"
z = 3.5
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
type(x)

int

Complete explanation about Data Type : https://www.w3schools.com/python/python_datatypes.asp

## Single or Double Quotes?

String variables can be declared either by using single or double quotes:

In [ ]:
x = "John"
print(x)

#double quotes are the same as single quotes:

x = 'John'
print(x)

John
John

In [ ]:
a = "Ra'if"
a

"Ra'if"

In [ ]:
kalimat = '''
hari ini pertemuan belajar python
'''
kalimat

'\nhari ini pertemuan belajar python\n'

In [ ]:
kalimat = """
hari ini pertemuan belajar python
"""
kalimat

'\nhari ini pertemuan belajar python\n'

## Case-Sensitive

Variable names are case-sensitive.

In [ ]:
# case sensitive
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [ ]:
# case sensitive
b = 'Sally'
B = 'sally'
print(b==B)

False

## Legal Variabel name

In [ ]:
myvar = "dibimbing" # huruf kecil semua
my_var = "dibimbing" # setiap kata dipisahkan underscore character
_my_var = "dibimbing" # tipe snake case, dipisahkan oleh underscore
myVar = "dibimbing" # Camel Case : huruf pertama kecil, kata berikutnya memiliki huruf awalannya besar
MYVAR = "dibimbing" # Huruf besar semua
myvar2 = "dibimbing" # huruf kecil + angka
MYVAR2 = "dibimbing" # Huruf besar semua

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)
print(MYVAR2)

dibimbing
dibimbing
dibimbing
dibimbing
dibimbing
dibimbing
dibimbing

## Illegal Variabel Name

In [ ]:
2myvar = "John"

#This example will produce an error in the result

SyntaxError: invalid decimal literal (<ipython-input-13-52a9ebc65a1f>, line 1)

In [ ]:
my+var = "John"

#This example will produce an error in the result

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3947910070.py, line 1)

In [ ]:
my var = "John"

#This example will produce an error in the result

SyntaxError: invalid syntax (<ipython-input-14-fa67a73f3c43>, line 1)

## Ouput Variables
The Python print() function is often used to output variables.

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

In [ ]:
# sum
x = 5
y = 10
print(x + y)

15

In [ ]:
# cannot sum numeric + string
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

## Python Conditions and If statements

### Python supports the usual logical conditions from mathematics:

 -   Equals: a == b
 -   Not Equals: a != b
 -   Less than: a < b
 -   Less than or equal to: a <= b
 -   Greater than: a > b
 -   Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

## If

In [ ]:
a = 20
b = 10
if b > a:
    print("b is greater than a")

# if condition

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error ( tidak ada indentasi )

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-18-6ddfbd8adca9>, line 4)

## Elif

The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
# if and elif
a = 33
b = 40
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

b is greater than a

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

## Else

The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
# if and elif and else

a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
elif a<b:
    print("a less than b")
else:
    print('unknown value')

unknown value

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".
You can also have an else without the elif:

In [ ]:
# if and else

a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

## And

The and keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
# and condition
a = 5
b = 3
c = 8
if a > b and c > a and a == b:
    print("Both conditions are True")
else:
    print('there are no condition')

there are no condition

## Or

The or keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
# if and or condition
a = 200
b = 33
c = 500
if a > b or a > c and b == c:
    print("At least one of the conditions is True")

At least one of the conditions is True

## Not

The not keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [ ]:
# not condition
a = 33
b = 200
if a != b:
    print("a is NOT greater than b")

a is NOT greater than b

# Thank you :)